@use'base/variables' as v;
@use'base/mixins' as m;


.proyecto {
    @include m.contenedor;
    @include m.texto-fluido(.5rem, 3rem);

    &__titulo {
        @include m.contenedor-md;
        padding: 2rem;
        text-align: center;
        @include m.texto-fluido(3rem, 5rem);
        font-weight: 700;
        margin-bottom: 2rem;
        color: v.$verde;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        border-bottom: 0.1rem solid v.$verde;
        margin-top: 2rem;
    }
    &__estados {
        @include m.texto-fluido(1.5rem, 2.5rem);
        text-align: center;
        font-weight: v.$black;
        margin-top: 2rem;
    }
    &__subtitulo {
        @include m.contenedor-md;
        padding: 2rem;
        @include m.texto-fluido(1rem, 2rem);
        font-weight: 700;
        margin-bottom: 2rem;
        color: v.$verde;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        border-bottom: 0.1rem solid v.$verde;
        margin-top: 2rem;
    }



    &__finalizado {
        @include m.grid(1, 1rem);
        @include m.tablet {
            @include m.grid(4 , 1rem);
        }
    
        &--tipo {     
            overflow: hidden;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }       
            &--nombre {
                @include m.texto-fluido(.6rem, 1.2rem);
                font-weight: v.$bold;
            }
            &--estado {
                @include m.texto-fluido(.6rem, 1.5rem);
                font-weight: v.$black;
                margin-top: 0;
                span {
                    color: v.$verde;
                }
            }
            @include m.card;
            @include m.contenedor-md;
            ul {
                @include m.tags(v.$principal-claro, 1rem, v.$verde-claro);
                text-transform: uppercase;
            }
            li {
                @include m.reset-lista;
            }

            &__aptitudes {
                @include m.texto-fluido(.8rem, 1.5rem);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: v.$black;
            }
            &__ver {
                @include m.texto-fluido(.6rem, 1.4rem);
                font-weight: v.$bold;
                background-color: v.$principal-claro;  
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;  
                margin-top: 2rem;
                border: none;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;
                width: 100%;
            
                &:hover {
                    cursor: pointer;                    
                    background-color: v.$verde; 
                    color: v.$blanco;
                }
                i,
                 a {
                    display: block;
                     margin-left: 6px;
                     color: v.$blanco;
                }
            }
            
            &__descipcion {
                @include m.texto-fluido(.8rem, 1.3rem);
                font-weight: v.$delgada;
                display: none; 
                overflow: hidden;
            
                &--boton {
                    @include m.texto-fluido(.6rem, 1.2rem);
                    font-weight: v.$bold;
                    background-color: v.$principal-claro;
                    color: v.$verde;  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;  
                    border: none;
                    border-radius: 5px;
                    transition: background-color 0.3s, color 0.3s;
                    cursor: pointer;
                
                    &:hover {
                        background-color: v.$verde; 
                        color: v.$blanco;
                    }
                
                    i {
                        margin-left: 5px; 
                    }
                }
                
            }
            
            .completo {
                display: block; 
            }
        }  
     }

     &__navegacion {

            display: none;
            @include m.tablet {
                align-items: center;
                top: 0;
                right: 0;
                padding: 1rem;
            }
        &--enlace {
            @include m.tablet {
                text-transform: uppercase;
                font-weight: v.$black;
                color: v.$verde;
                font-size: .8rem;
                padding: 1rem;
                @include m.texto-fluido(.8rem, 1.8rem);
                &:hover {
                    background-color: v.$principal-claro;
                    color: v.$verde-claro;
                }
            }
            @include m.telefono {
                text-transform: uppercase;
                font-weight: v.$black;
                color: v.$verde;
                font-size: .8rem;
                padding: 1rem;
                @include m.texto-fluido(.5rem, 1rem);
    
                &:hover {
                    background-color: v.$principal-claro;
                    color: v.$verde-claro;
                }
            }

        }
    }  
}