@use'base/variables' as v;
@use'base/mixins' as m;


.proyecto {
    @include m.contenedor;
    @include m.texto-fluido(.5rem, 3rem);

    &__titulo {
        @include m.contenedor-md;
        padding: 2rem;
        text-align: center;
        @include m.texto-fluido(1rem, 2rem);
        font-weight: 700;
        margin-bottom: 2rem;
        color: v.$verde;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        border-bottom: 0.1rem solid v.$verde;
        margin-top: 2rem;
    }

    &__subtitulo {
        @include m.contenedor-md;
        padding: 2rem;
        @include m.texto-fluido(1rem, 2rem);
        font-weight: 700;
        margin-bottom: 2rem;
        color: v.$verde;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        border-bottom: 0.1rem solid v.$verde;
        margin-top: 2rem;
    }
    ul {
        text-decoration: double;
        list-style: square;
        color: v.$blanco;
        font-weight: v.$delgada;
        @include m.texto-fluido(1rem, 2rem);
    }

    &__finalizado {
        // display: flex;
        @include m.grid(1, 1rem);
        @include m.tablet {
            @include m.grid(4 , 1rem);
        }
        &--tipo {            
            &--nombre {
                @include m.texto-fluido(.6rem, 1.5rem);
                text-align: center;
                font-weight: v.$black;
                margin-top: 0;
            }
            &__escuela {
                @include m.texto-fluido(.6rem, 1.2rem);
                text-align: center;
            }
            @include m.card;
            @include m.contenedor-md;
            ul {
                @include m.tags(v.$verde-claro, 1rem);
            }

            &__aptitudes {
                @include m.texto-fluido(.6rem, 1.2rem);
                font-weight: v.$black;
            }
            &__ver {
                @include m.texto-fluido(.6rem, 1.2rem);
                font-weight: v.$black;
                background-color: transparent;
                padding: .8rem;
                border: none;
                a,i {
                    color: v.$blanco;  
                }
            }
            &__descipcion {
                @include m.texto-fluido(.8rem, 1.3rem);
                font-weight: v.$delgada;
                display: none; 
                overflow: hidden;
            
                &--boton {
                    @include m.texto-fluido(.6rem, 1.2rem);
                    font-weight: v.$bold;
                    background-color: none;
                    color: v.$verde;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                        font-size: 1.3rem;
                        color: v.$verde-claro;
                    }
                    i {
                        color: v.$blanco;
                    }
                }
            }
            
            .completo {
                display: block; 
            }
        }  
     }
    

}