@use 'base/variables' as v;
@use 'base/mixins' as m;

.inicio {

    background-image:  url(../img/bg.png);
    background-image:  image-set(
        url('../img/bg.avif') 1x,
        url('../img/bg.webp') 1x,
        url('../img/bg.png') 1x,
    );

    background-size: cover;
    background-position: center;

  &__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    &--overlay { 
        @include m.telefono {
            @include m.contenedor;
            margin: 3rem;
        }
        @include m.tablet {
            @include m.contenedor-md;
            margin: 6rem;
        }
        text-align: center;


        h2 {
            margin: auto;
          }
        
          p {
            text-align: start;
            font-size: 1.6rem;
            line-height: 2.2;
          }
        
    
        img {
          border-radius: 50%;
          width: 6rem;
          height: 6rem;
          margin: 0 auto;
          object-fit: cover;
        }

        
        &--cv {
            background-color: v.$verde;
            padding: 0.8rem;
            border: 3px solid v.$verde-claro;
            border-radius: 0.5rem;
            &:hover {
              background-color:v.$verde-claro;
              cursor: pointer;
          }
          
            a,
            i {
            color: v.$negro;
            }
        }

      }
  }
  
}

