{% load static %} 
<h1 class="sobreMi__subtitulo">Mis Certificados</h1>
<div class="sobreMi__certificado">
    <div class="sobreMi__certificado--tipo">
        <p class="sobreMi__certificado--tipo--nombre">Certificado Bases de datos</p>
        <p class="sobreMi__certificado--tipo__escuela">Duoc Uc</p>
        <picture>
            <source srcset="{% static 'img/1.avif' %}" type="image/avif" alt="Imagen PF">
            <source srcset="{% static 'img/1.webp' %}" type="image/webp" alt="Imagen PF">
            <img loading="lazy" width="200" height="300" srcset="{% static 'img/1.png' %}" type="image/jpeg" alt="Imagen PF">
        </picture>
        <p class="sobreMi__certificado--tipo__aptitudes">Aptitude Adquirida:</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
        </ul>
        <button class="sobreMi__certificado--tipo__ver">
            <a href="https://www.linkedin.com/in/stanley-richard-saintima-b45433289/" >Mostrar credencial</a>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </button>
    </div>
    <div class="sobreMi__certificado--tipo">
        <p class="sobreMi__certificado--tipo--nombre">Certificado desarrollo web</p>
        <p class="sobreMi__certificado--tipo__escuela">Udemy</p>
        <picture>
            <source srcset="{% static 'img/1.avif' %}" type="image/avif" alt="Imagen PF">
            <source srcset="{% static 'img/1.webp' %}" type="image/webp" alt="Imagen PF">
            <img loading="lazy" width="200" height="300" srcset="{% static 'img/1.png' %}" type="image/jpeg" alt="Imagen PF">
        </picture>
        <p class="sobreMi__certificado--tipo__aptitudes">Aptitude Adquirida:</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
        </ul>
        <button class="sobreMi__certificado--tipo__ver">
            <a href="https://www.linkedin.com/in/stanley-richard-saintima-b45433289/" >Mostrar credencial</a>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </button>
    </div>
    <div class="sobreMi__certificado--tipo">
        <p class="sobreMi__certificado--tipo--nombre">Certificado desarrollo web</p>
        <p class="sobreMi__certificado--tipo__escuela">Udemy</p>
        <picture>
            <source srcset="{% static 'img/1.avif' %}" type="image/avif" alt="Imagen PF">
            <source srcset="{% static 'img/1.webp' %}" type="image/webp" alt="Imagen PF">
            <img loading="lazy" width="200" height="300" srcset="{% static 'img/1.png' %}" type="image/jpeg" alt="Imagen PF">
        </picture>
        <p class="sobreMi__certificado--tipo__aptitudes">Aptitude Adquirida:</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
        </ul>

        <button class="sobreMi__certificado--tipo__ver">
            <a href="https://www.linkedin.com/in/stanley-richard-saintima-b45433289/" >Mostrar credencial</a>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </button>
    </div>
</div>
