<div class="sobreMi__contenido--texto">
    <p >Mi nombre es <span class="sobreMi__texto--nombre">Stanley Richard</span>, tengo {{ edad }} años, soy de Haiti, y actualmente soy estudiante de Analista Programador Computacional
        en Duoc Uc y siempre estoy en constante aprendizaje, ya sea de programación tengo conicimiento en :</p>
    
    <div class="sobreMi__contenido--lista">
        <ul >
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
            <li>PHP</li>
            <li>SQL</li>
            <li>Entre Otros</li>
        </ul>
    </div>
    
</div>