<div class="sobreMi__descripcion">
    <p>
        Mi enfoque y dedicación hacia el mundo de la tecnología me han permitido descubrir una pasión  por la programación y el desarrollo de software.
        Siempre me he caracterizado por fijar metas ambiciosas y trazar un camino claro para alcanzarlas. Creo en el poder del aprendizaje continuo y la adaptabilidad como pilares fundamentales para el crecimiento profesional.
        Uno de mis mayores atributos es mi capacidad para aprender rápidamente y enfrentar nuevos desafíos con entusiasmo. Me siento más inspirado cuando puedo colaborar en equipo, aprovechando las distintas perspectivas y habilidades para alcanzar soluciones creativas y eficientes. Siempre estoy abierto a conocer nuevas personas, aprender de sus experiencias.
    </p>
    
</div>