
<h1 class="sobreMi__subtitulo">Actividad que me gusta hacer en mis tiempos libres</h1>
<div class="sobreMi__gusto">
    <div class="sobreMi__gusto--tipo">
        <p>Escuchar música</p>
        <ul>
            <li>Rap</li>
            <li>Africana</li>
            <li>Compa, Racine</li>
            <li>Electronica</li>
        </ul>
    </div>
    <div class="sobreMi__gusto--tipo">
        <p>Leer manga</p>
        <ul>
            <li>Fantasia</li>
            <li>horror</li>
            <li>Aventura</li>
            <li>accion</li>
            <li>Ciencia Ficcion</li>
        </ul>
    </div>
    <div class="sobreMi__gusto--tipo">
        <p>Juegar videojuegos</p>
        <ul>
            <li>Mundo Abierto</li>
            <li>Supervivencia</li>
            <li>Aventura</li>
            <li>accion</li>
            <li>Ciencia Ficcion</li>
        </ul>
    </div>
    <div class="sobreMi__gusto--tipo">
        <p>Animales</p>
        <ul>
            <li>Perros</li>
            <li>Gatos</li>
            <li>Etc</li>
        </ul>
    </div>
</div>
