<div class="sobreMi">
    <h1 class="sobreMi__subtitulo">Lenguajes Hablando y nivel de escrito</h1>
    <div class="sobreMi__lenguajes" >
      <div class="sobreMi__lenguajes--nivel">
        <p class="lenguaje">Español</p>
        <p class="nivel">Hablando</p>
        <p class="cantidad">Intermedio</p>
        <p class="nivel">Escrito</p>
        <p class="cantidad">Avanzada</p>
      </div>
  
      <div class="sobreMi__lenguajes--nivel">
        <p class="lenguaje">Ingles</p>
        <p class="nivel">Hablando</p>
        <p class="cantidad">Básica Avanzada</p>
        <p class="nivel">Escrito</p>
        <p class="cantidad">Básica Avanzada</p>
      </div>
  
      <div class="sobreMi__lenguajes--nivel">
        <p class="lenguaje">Frances</p>
        <p class="nivel">Hablando</p>
        <p class="cantidad">Básica Avanzada</p>
        <p class="nivel">Escrito</p>
        <p class="cantidad">Intermedio</p>
      </div>
  
      <div class="sobreMi__lenguajes--nivel">
        <p class="lenguaje">Creole</p>
        <p class="nivel">Hablando</p>
        <p class="cantidad">Nativo</p>
        <p class="nivel">Escrito</p>
        <p class="cantidad">Nativo</p>
      </div>
    </div>
  </div>
  