{% extends "../../base/base.html" %}
{% load static %} 

{% block content%}
 
<main class="sobreMi">
    
    <h1 class="sobreMi__titulo">Sobre Mi</h1>

    <div class="sobreMi__contenido">
        <div class="sobreMi__contenido--imagen">
            <picture>
                <source srcset="{% static 'img/1.avif' %}" type="image/avif" alt="Imagen PF">
                <source srcset="{% static 'img/1.webp' %}" type="image/webp" alt="Imagen PF">
                <img loading="lazy" width="200" height="300" srcset="{% static 'img/1.png' %}" type="image/jpeg" alt="Imagen PF">
            </picture>
        </div>

        <!-- CONOCIMIENTOS -->
        {% include '../sobre-mi/conocimiento.html' %}

    </div>

    
    <!-- CERTIFICADOS -->
    {% include '../sobre-mi/certificado.html' %}

    <!-- IDIOMAS -->
    {% include '../sobre-mi/idiomas.html' %}

    <!-- GUSTOS -->
    {% include '../sobre-mi/gusto.html' %}

    <!-- DESCRIPCION -->
    {% include '../sobre-mi/descripcion.html' %}


</main>

{%endblock%}