{% load static %} 
<main id="sobre-mi" class="sobreMi">
    
    <h1 class="sobreMi__titulo">Sobre Mi</h1>

    <div class="sobreMi__contenido">
        <div class="sobreMi__contenido--imagen">
            {% if persona.perfil %}
                <picture>
                    <source srcset="{{persona.perfil.url}}" type="image/avif" alt="Imagen perfil">
                    <source srcset="{{persona.perfil.url}}" type="image/webp" alt="Imagen perfil">
                    <img loading="lazy" width="200" height="300" srcset="{{persona.perfil.url}}" type="image/jpeg" alt="Imagen perfil">
                </picture>
            {% else %}
                <picture>
                    <source srcset="{% static 'img/captura.avif' %}" type="image/avif" alt="Imagen perfil">
                    <source srcset="{% static 'img/captura.webp' %}" type="image/webp" alt="Imagen perfil">
                    <img loading="lazy" width="200" height="300" srcset="{% static 'img/captura.png' %}" type="image/jpeg" alt="Imagen perfil">
                </picture>
            {% endif %}
        </div>

        <!-- CONOCIMIENTOS -->
        {% include '../sobre-mi/conocimiento.html' %}

    </div>

    
    <!-- CERTIFICADOS -->
    {% include '../sobre-mi/certificado.html' %}

    <!-- IDIOMAS -->
    {% include '../sobre-mi/idiomas.html' %}

    <!-- GUSTOS -->
    {% include '../sobre-mi/gusto.html' %}

    <!-- DESCRIPCION -->
    {% include '../sobre-mi/descripcion.html' %}


</main>