
{% extends "../../bases-admin/base-admin.html" %}
{% load static %} 

{% block content%}

<div class="dashboard__contenedor-boton">
    <a class="dashboard__boton" href="/stanley/portafolio/agregar">
        <i class="fa-solid fa-circle-plus"></i>
        Añadir Proyecto
    </a>
</div>
  
<h1 class="dashboard__titulo">{{ titulo }}</h1>

<main class="dashboard__contenedor">
    {% include '../../components/alertas.html' %} 

    {% if portafolios %}
        <table class="table">
            <thead class="table__thead">
                <tr>
                    <th scope="col" class="table__th">Imagen</th>
                    <th scope="col" class="table__th">Titulo</th>
                    <th scope="col" class="table__th">descripcion</th>
                    <th scope="col" class="table__th">Aptitudes</th>
                    <th scope="col" class="table__th">Enlaces</th>
                    <th scope="col" class="table__th"></th>
                </tr>
            </thead>

            <tbody class="table__tbody">
                {% for portafolio in portafolios %}
                    <tr class="table__tr">
                        {% if portafolio.imagen_portafolio %}
                            <td class="table__td">
                                <img class="table__img" src="{{ portafolio.imagen_portafolio.url }}" alt="Imagen de {{ portafolio.titulo }}">
                            </td>
                        {% endif %}
                        <td class="table__td">
                            {{ portafolio.titulo }}
                        </td>
                        <td class="table__td--descripcion">
                            {{ portafolio.descripcion }}
                        </td>
                        <td class="table__td">
                            {{ portafolio.aptitudes }}
                        </td>
                        <td class="table__td">
                            {{ portafolio.rutas_enlaces }}
                        </td>
                        <td class="table__td--acciones">
                            <a class="table__accion table__accion--editar" href="{% url 'editarPortafolio' pk=portafolio.id_portafolio %}">
                                <i class="fa-solid fa-pencil"></i>
                                Editar
                            </a>

                            <form method="POST" action="{% url 'eliminarPortafolio' pk=portafolio.id_portafolio %}" class="table__formulario">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="1">
                                <button class="table__accion table__accion--eliminar" type="submit">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                <p class="text-center">No Hay Eventos Aún</p>
            {% endfor %}
            </tbody>
        </table>
        {% endif %} 

</main>       
{%endblock%}