// COLORES

$principal: rgba(0, 0, 0, 0.943);
$principal-claro: rgba(69, 67, 67, 0.178);
$negro: black;
$verde: rgb(0, 255, 0);
$verde-claro: rgb(102, 243, 102);
$blanco: white;
$rojo: red;
$morado:rgb(233, 0, 254);
$azul:rgb(72, 6, 255);
$amarillo:rgb(255, 234, 6);

// TIPOGRAFIA
$fuente-principal:'Montserrat', sans-serif;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Tamaño de Media Queries
$telefono: 250px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;