<aside class="dashboard__sidebar">
    <nav class="dashboard__menu">
        <a href="/stanley" class="dashboard__enlace" >
            <i class="fa-solid fa-house dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Inicio
            </span>    
        </a>

        <a href="/stanley/portafolio" class="dashboard__enlace">
            <i class="fa-solid fa-diagram-project dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Portafolio
            </span>    
        </a>

        <a href="/stanley/certificado" class="dashboard__enlace" >
            <i class="fa-solid fa-graduation-cap dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Certificado
            </span>    
        </a>

        <a href="/stanley/perfil/" class="dashboard__enlace" >
            <i class="fa-solid fa-address-card dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Perfil
            </span>    
        </a>

        <a href="/stanley/sobreMi/" class="dashboard__enlace" >
            <i class="fa-solid fa-user dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Sobre MI
            </span>    
        </a>
    </nav>
</aside>