@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobreMi {
    &__subtitulo {
        @include m.contenedor-md;
        padding: 2rem;
        @include m.texto-fluido(1rem, 2rem);
        font-weight: v.$bold;
        margin-bottom: 2rem;
        color: v.$verde;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        border-bottom: 0.1rem solid v.$verde;
        margin-top: 2rem;
    }

    &__lenguajes {
        @include m.contenedor-md;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        
        @include m.tablet {
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .lenguaje {
            @include m.texto-fluido(.9rem, 1.5rem);
            font-weight: v.$black;
            text-transform: uppercase;
            border-bottom: 0.1rem solid v.$principal-claro;
            margin: 1rem;
        }

        &--nivel {
            flex: 0 0 1;
            text-align: center;
            @include m.texto-fluido(.4rem, 1rem);
            font-weight: v.$delgada;
            text-transform: uppercase;
            border-bottom: 0.1rem solid v.$principal-claro;
            margin-top: 1rem;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }          

            .nivel {
                color: v.$verde;
                font-weight: v.$bold;
            }

            .cantidad {
                font-size: 1.5rem;
            }
        }
    }
}
