<footer id="contacto" class="footer">
    <div  class="footer__grid">    
        <nav class="menu-redes"> 
            <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="facebook.com/stanley.saintima.3">
                <span class="menu-redes__ocultar">Facebook</span>
            </a> 
            <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://twitter.com">
                <span class="menu-redes__ocultar">Twitter</span>
            </a> 
            <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/@stanleyrichardsaintima6375">
                <span class="menu-redes__ocultar">YouTube</span>
            </a> 
            <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/stanleyriche1/">
                <span class="menu-redes__ocultar">Instagram</span>
            </a> 
            <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://tiktok.com">
                <span class="menu-redes__ocultar">Tiktok</span>
            </a> 
            <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/stanley-richard-saintima-b45433289/">
                <span class="menu-redes__ocultar">Linkedin</span>
            </a>
            <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://github.com/RichardSaintima">
                <span class="menu-redes__ocultar">Github</span>
            </a>
        </nav>
    </div>

    <p class="footer__copyright">
        Stanley Richard
        <span class="footer__copyright--regular">
            - Todos los derechos reservados <span id="current-year"></span>&copy;
        </span>
    </p>
</footer>