<footer id="contacto" class="footer">
    <p class="footer__contacto">Contactos</p>
    <div  class="footer__grid">    
        <nav class="menu-redes"> 
            {% for red_social in redes_sociales %}
                <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="{{ red_social.url }}">
                    <span class="menu-redes__ocultar">{{ red_social.nombre }}</span>
                    <input type="hidden" value="{{ red_social.nombre|lower }}">
                </a>
            {% endfor %}
            
        </nav>
    </div>

    <p class="footer__copyright">
        Stanley Richard
        <span class="footer__copyright--regular">
            - Todos los derechos reservados <span id="current-year"></span>&copy;
        </span>
    </p>
</footer>