    <!-- HEADER -->
    <header class="header">
        <div class="contenedor header__contenido--header">
            <h1 class="header__titulo">Saintima Stanley Richard</h1>
            <h1 class="header__titulo2">Stanley Richard</h1>
            
            <!-- Iconos del menú móvil -->
            
            <nav class="header__navegacion--principal" id="nav">
                <a class="header__navegacion--enlace" href="/">Inicio</a>
                <a class="header__navegacion--enlace" href="/proyecto">Portafolio</a>
                <a class="header__navegacion--enlace" href="/blog">Blog</a>
                <a class="header__navegacion--enlace" href="#contacto">Contacto</a>
            </nav>
            
        </div>
    </header>
 
        
    <!-- HEADER -->
