{% extends "bases/base-admin.html" %}
{% load static %} 
{% block content%}
<div class="dashboard__contenedor-boton">
    <a class="dashboard__boton" href="/stanley/certificado">
        <i class="fa-solid fa-circle-arrow-left"></i>
        Volver
    </a>
</div>
  
<h1 class="dashboard__titulo">{{ titulo }}</h1>

<main class="dashboard__formulario">
    {% include 'components/alertas.html' %} 
    {% if certificado %}
        <form method="POST" action="{% url 'editarCertificado' pk=certificado.id_certificado %}" enctype="multipart/form-data" class="formulario">
            {% csrf_token %}
        <!-- FORMULARIO -->
        {% include './form-certificado.html' %}

        <input  class="formulario__submit formulario__submit--registrar" type="submit" value="Guardar Cambios ">
        </form>
    {% endif %}
</main>        

{%endblock%}
