{% extends "bases/base-admin.html" %}
{% load static %} 
{% block content%}
<div class="dashboard__contenedor-boton">
    <a class="dashboard__boton" href="/certificado/agregar">
        <i class="fa-solid fa-circle-plus"></i>
        Añadir Certificado
    </a>
</div>
  
<h1 class="dashboard__titulo">{{ titulo }}</h1>
{% include 'components/alertas.html' %} 



    <main class="dashboard__contenedor">
    {% if certificados %}
        <table class="table" aria-label="Certificados">
            <thead class="table__thead">
                <tr>
                    <th scope="col" class="table__th">Imagen</th>
                    <th scope="col" class="table__th">Titulo</th>
                    <th scope="col" class="table__th">Nombre escuela</th>
                    <th scope="col" class="table__th">Aptitudes</th>
                    <th scope="col" class="table__th">Enlaces</th>
                    <th scope="col" class="table__th"></th>
                </tr>
            </thead>

            <tbody class="table__tbody">
                
                {% for certificado in certificados %}
                    <tr class="table__tr">
                        {% if certificado.imagen_certificado %}
                            <td class="table__td">
                                <img class="table__img" src="{{ certificado.imagen_certificado.url }}" alt="Imagen de {{ certificado.titulo }}">
                            </td>
                        {% endif %}
                        <td class="table__td">
                            {{ certificado.titulo }}
                        </td>
                        <td class="table__td">
                            {{ certificado.nombre_escuela }}
                        </td>
                        <td class="table__td--aptitude" title="{% for aptitud in certificado.aptitudes.all %}{{ aptitud.nombre }}{% if not forloop.last %}, {% endif %}{% endfor %}">

                            <i class="fa-solid fa-award"></i>
                        </td>
                        <td class="table__td--aptitude" title="{{certificado.enlaces_web }}">
                            <i class="fa-solid fa-link"></i>
                        </td>
                        <td class="table__td--acciones">
                            <a class="table__accion table__accion--editar" href="{% url 'editar_certificado' pk=certificado.id_certificado %}">
                                <i class="fa-solid fa-pencil"></i>
                                Editar
                            </a>
                            <form class="table__formulario" method="POST" action="{% url 'eliminar_certificado' pk=certificado.id_certificado %}">
                                {% csrf_token %}
                                <input type="hidden" name="eliminar" value="Eliminar Certificado">
                                <button type="submit" class="table__accion table__accion--eliminar">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                    Eliminar
                                </button>
                            </form>
                        </td>                        
                    </tr>
                    
                {% empty %}
                    <p class="text-center">No Hay Eventos Aún</p>
                {% endfor %}
                <!-- Aquí puedes repetir este bloque para cada evento -->
            </tbody>
        </table>
    {% endif %}  

</main>       
{%endblock%}
