@use'base/variables' as v;
@use'base/mixins' as m;

.header {
    &.fijo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        box-shadow: .3rem .3rem .3rem v.$principal-claro;
    }
}