@use 'base/variables' as v;
@use 'base/mixins' as m;


/* Estilos para el encabezado en estado normal */
.header {
    @include m.contenedor;
    background-color: v.$negro;
    width: 100%;

    

    &__titulo {
        @include m.tablet {
            display: block;
            @include m.heading;
            @include m.texto-fluido(1rem, 2rem);
            white-space: nowrap; 
            text-align: center;       
        }
        display: none;
    }

    &__titulo2 {
        @include m.tablet {
            display: none;       
        }
        display: block;
        @include m.heading;
        @include m.texto-fluido(1rem, 2rem);
        white-space: nowrap; 
    }

    &__contenido {
        
        &--header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    
    &__navegacion {
        
        &--principal {
            display: none;
            @include m.tablet {
                display: flex;
                align-items: center;
                top: 0;
                right: 0;
                padding: 1rem;
            }
        }
        &--enlace {
            @include m.tablet {
                text-transform: uppercase;
                font-weight: v.$black;
                color: v.$verde;
                font-size: .8rem;
                padding: 1rem;
                @include m.texto-fluido(.8rem, 1.8rem);
                &:hover {
                    background-color: v.$principal-claro;
                    color: v.$verde-claro;
                }
            }
        }

    }
}




