    <!-- INICIO -->
   
{% extends "../../base/base.html" %}
{% load static %}

{% block content%}
 
<section id="inicio" class="inicio">
    <div class="inicio__imagen">
        <div class="inicio__imagen--overlay">
            <picture>
                <source srcset="{% static 'img/captura.avif' %}" type="image/avif" alt="Imagen perfil">
                <source srcset="{% static 'img/captura.webp' %}" type="image/webp" alt="Imagen perfil">
                <img loading="lazy" width="200" height="300" srcset="{% static 'img/captura.png' %}" type="image/jpeg" alt="Imagen perfil">
            </picture>
            
            <h2>Stanley Richard</h2>
            <p>Mi enfoque y dedicación hacia el mundo de la tecnología me han permitido descubrir una pasión  por la programación y el desarrollo de software.
                    r
                Mi enfoque y dedicación hacia el mundo de la tecnología me han permitido descubrir una pasión  por la programación y el desarrollo de software.
                    
                Mi enfoque y dedicación hacia el mundo de la tecnología me han permitido descubrir una pasión  por la programación y el desarrollo de software.
            </p>
            <button class="inicio__imagen--overlay--cv">
                <i class="fa-solid fa-file-arrow-down"></i>
                <a href="{% static 'pdf/CV curriculum.pdf' %}" download="CV curriculum.pdf">Descargar CV</a>
            </button>

        </div>
    </div>

</section>
<!-- INICIO -->
{%endblock%}


