    <!-- INICIO -->

{% load static %}

<section id="inicio" class="inicio">
    <div class="inicio__imagen">
        <div class="inicio__imagen--overlay">
            {% if persona.perfil %}
                <picture>
                    <source srcset="{{persona.perfil.url}}" type="image/avif" alt="Imagen perfil">
                    <source srcset="{{persona.perfil.url}}" type="image/webp" alt="Imagen perfil">
                    <img loading="lazy" width="300" height="400" srcset="{{persona.perfil.url}}" type="image/jpeg" alt="Imagen perfil">
                </picture>
            {% else %}
                <picture>
                    <source srcset="{% static 'img/captura.avif' %}" type="image/avif" alt="Imagen perfil">
                    <source srcset="{% static 'img/captura.webp' %}" type="image/webp" alt="Imagen perfil">
                    <img loading="lazy" width="300" height="400" srcset="{% static 'img/captura.png' %}" type="image/jpeg" alt="Imagen perfil">
                </picture>
            {% endif %}
            
            <h2>Stanley Richard</h2>
            <p>
               {{ sobremi.descripcion_inicio }} con conicimiento en :
    
               <div class="sobreMi__contenido--lista">
                   <ul >
                       {% for aptitud in aptitudes.all %}
                       <li>{{ aptitud.nombre }}</li> 
                       {% endfor %}
                   </ul>
               </div>
            </p>
            <button class="inicio__imagen--overlay--cv">
                <i class="fa-solid fa-file-arrow-down"></i>
                <a href="{% static 'pdf/CV curriculum.pdf' %}" download="CV curriculum.pdf">Descargar CV</a>
            </button>

        </div>
    </div>

</section>
<!-- INICIO -->



