@use 'base/mixins' as m;
@use 'base/variables' as v;

.table {
    width: 100%;
    border-collapse: collapse;

    &__thead {
        background-color: v.$principal;
        color: v.$blanco;
    }
    &__th {
        padding: 1rem;
        text-align: left;
    }

    &__tr {
        &:nth-of-type(even) {
            background-color: v.$verde-claro;
        }
    }

    &__td {
        padding: 1.5rem 1rem;
        &--descripcion {
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-width: 30rem;
            
        }
        &--enlaces {
            font-weight: v.$bold;
            @include m.texto-fluido(.5rem, 1.5rem);
        }

        &--aptitude {
        //     position: relative;
            cursor: pointer;
            padding-left: 4rem;
            color: v.$principal;
            @include m.texto-fluido(1.3rem, 2rem);
        //     &::before {
        //         content: attr(title);
        //         position: absolute;
        //         background-color: v.$principal; /* Puedes personalizar el color de fondo según tu diseño */
        //         color: v.$blanco; /* Personaliza el color del texto según tu diseño */
        //         padding: 5px;
        //         border-radius: 5px;
        //         font-size: 14px;
        //         white-space: nowrap;
        //         display: none;
        //         z-index: 1;
        //         bottom: 100%; /* Muestra el tooltip encima de la celda */
        //         left: 50%;
        //         transform: translateX(-50%);
        //     }
        //     &:hover::before {
        //         display: block;
        //     }
        }

        &--acciones {
            @extend .table__td;
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
            align-items: center;
        }
        img {
            max-width: 6rem;
            max-height: 6rem;
        }
    }


    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: v.$bold;
        &--editar {
            color: v.$azul;
        }
        &--eliminar {
           color: v.$rojo;
        }
        &:hover {
            cursor: pointer;
        }
    }
}