{% extends "../../bases-admin/base-admin.html" %}
{% load static %} 

{% block content%}

<h1 class="dashboard__titulo">{{ titulo }}</h1>

<main class="dashboard__formulario">
    {% include '../../components/alertas.html' %} 
    
    <form method="POST"  class="formulario">
        {% csrf_token %}
        <fieldset class="formulario__fieldset">
            <div class="formulario__campo">
                <label for="descripcion_inicio" class="formulario__label">Presentacion Inicio</label>
                <textarea
                    class="formulario__input"
                    id="descripcion_inicio"
                    name="descripcion_inicio"
                    placeholder="Descripción Presentacion"
                    rows="8"
                >{{ sobremi.descripcion_inicio }}</textarea>
            </div>
        </fieldset>

        <fieldset class="formulario__fieldset">
            <div class="formulario__campo">
                <label for="descripcion_aptitude" class="formulario__label">Descripción Aptutude</label>
                <textarea
                    class="formulario__input"
                    id="descripcion_aptitude"
                    name="descripcion_aptitude"
                    placeholder="Descripción Aptitude"
                    rows="8"
                >{{ sobremi.descripcion_aptitude }}</textarea>
            </div>
        </fieldset>

        <fieldset class="formulario__fieldset">
            <legend class="formulario__legend">Información Aptitudes</legend>
        
            <div class="formulario__campo">
                <label for="tags_input" class="formulario__label">Aptitude Adquirido (separadas por coma)</label>
                <input
                    type="text"
                    class="formulario__input"
                    id="tags_input"
                    placeholder="Ej. Node.js, PHP, CSS, Laravel, UX / UI"
                >
        
                <div id="tags" class="formulario__listado"></div>
                <input type="hidden" name="tags" value="{{ sobremi.aptitudes }}">
            </div>
        </fieldset>
        
        <fieldset class="formulario__fieldset">
            <div class="formulario__campo">
                <label for="descripcion" class="formulario__label">Descripción Sobre mi</label>
                <textarea
                    class="formulario__input"
                    id="descripcion"
                    name="descripcion"
                    placeholder="Descripción Sobre Mi"
                    rows="8"
                >{{ sobremi.descripcion }}</textarea>
            </div>
        </fieldset>

        <input class="formulario__submit formulario__submit--registrar" type="submit" value="Guardar Cambios ">
    </form>
    
</main>   
{%endblock%}
