
    <fieldset class="formulario__fieldset">
        <legend class="formulario__legend">Nombre y Escuela</legend>

        <div class="formulario__campo">
            <label for="nombre" class="formulario__label">Nombre Certificado</label>
            <input
                type="text"
                class="formulario__input"
                id="nombre"
                name="nombre"
                placeholder="Nombre Certi"
                value="{{ certificado.titulo }}"
            >
        </div>

        <div class="formulario__campo">
            <label for="nombreEscuela" class="formulario__label">Nombre Escuela</label>
            <input
                type="text"
                class="formulario__input"
                id="nombreEscuela"
                name="nombreEscuela"
                placeholder="Nombre Escuela"
                value="{{ certificado.nombre_escuela }}"
            >
        </div>

        <div class="formulario__campo">
            <label for="imagen" class="formulario__label">Imagen del Certificado</label>
            <div class="formulario__campo">
                <input
                    type="file"
                    class="formulario__input formulario__input--file"
                    id="imagen"
                    name="imagen"
                    onchange="mostrarImagen(this)"
                    accept="image/jpeg, image/png"
                >
            </div>
            <div id="imagenSeleccionada" class="formulario__imagen-seleccionada">
                {% if certificado.imagen_certificado %}
                    <img src="{{ certificado.imagen_certificado.url }}" alt="Imagen del Certificado">
                {% endif %}
            </div>
        </div>
        
    </fieldset>

        <fieldset class="formulario__fieldset">
            <legend class="formulario__legend">Aptitudes</legend>
        
            <div class="formulario__campo">
                <label for="tags_input" class="formulario__label">Aptitude Adquirido </label>
                <input
                    type="text"
                    class="formulario__input"
                    id="tags_input"
                    placeholder="Ej. Node.js, PHP, CSS, Laravel, UX / UI"
                >
        
                <div id="tags" class="formulario__listado"></div>
                <input type="hidden" name="tags" value="{{ certificado.aptitudes }}">
            </div>
        </fieldset>

    
    <fieldset class="formulario__fieldset">
        <legend for="enlaces[]" class="formulario__legend">Enlaces</legend>
    
        <div class="formulario__campo">
            <div class="formulario__contenedor-icono">
                <div class="formulario__icono">
                    <i class="fa-brands fa-github"></i>
                </div>
                <input
                    type="text"
                    class="formulario__input--sociales"
                    name="enlaces[]"
                    id="enlaces[]"
                    placeholder="GitHub"
                    value="{{ certificado.enlaces }}"
                >
            </div>
        </div>
    
        <div class="formulario__campo">
            <div class="formulario__contenedor-icono">
                <div class="formulario__icono">
                    <i class="fa-solid fa-code"></i>
                </div>
                <input
                    type="text"
                    class="formulario__input--sociales"
                    name="enlaces[]"
                    id="enlaces[]"
                    placeholder="Sitio web"
                    value="{{ certificado.enlaces }}"
                >
            </div>
        </div>
    </fieldset>
    
    {% include "../../layout-admin/mostrar-imagen.html" %}
