<aside class="dashboard__sidebar">
    <nav class="dashboard__menu">
        <a href="/dashboard/portafolio" class="dashboard__enlace">
            <i class="fa-solid fa-diagram-project dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Portafolio
            </span>    
        </a>

        <a href="/dashboard/certificado" class="dashboard__enlace" >
            <i class="fa-solid fa-graduation-cap dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Certificado
            </span>    
        </a>

        <a href="/dashboard/perfil/" class="dashboard__enlace" >
            <i class="fa-solid fa-address-card dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Perfil
            </span>    
        </a>

        <a href="/dashboard/contacto/" class="dashboard__enlace" >
            <i class="fa-solid fa-address-book dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Contactos
            </span>    
        </a>

        <a href="/dashboard/sobreMi/" class="dashboard__enlace" >
            <i class="fa-solid fa-user dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Sobre MI
            </span>    
        </a>

        <a href="/dashboard/aptitud/" class="dashboard__enlace" >
            <i class="fa-solid fa-award dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Aptitudes
            </span>    
        </a>
    </nav>
</aside>