  
{% extends "../../base/base.html" %}
{% load static %} 
{%block title%} BLOG  {%endblock%}

{% block content%}
 
    <h1 class="titulo_portafolio">Mi BLOG</h1>
    <section id="blog" class="proyecto">
        <div class="proyecto__portafolio--imagen">
            <div class="descripcion">
                <a class="fa-regular fa-eye" href="https://www.linkedin.com/in/richard-saintima-stanley-406090251/">Ver Proyecto</a>
                <h3>Mi primer Proyecto</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia dolorum voluptas enim perferendis ?</p>
            </div>
            <picture>
                <source srcset="{% static 'img/1.avif' %}" type="image/avif" alt="Imagen PF">
                <source srcset="{% static 'img/1.webp' %}" type="image/webp" alt="Imagen PF">
                <img loading="lazy" width="200" height="300" srcset="{% static 'img/1.png' %}" type="image/jpeg" alt="Imagen PF">
            </picture>
        </div>

    </section>  



{%endblock%}
