    <!-- HEADER -->
    <header >
        <div class="header" id="mostrar">
            <div class="contenedor header__contenido--header">
                <h1 class="header__titulo">Stanley Richard Saintima</h1>
                <h1 class="header__titulo2">Stanley Richard</h1>

                
                <nav class="header__navegacion--principal" id="nav">
                    <a class="header__navegacion--enlace hacerCroll" href="#inicio">Inicio</a>
                    <a class="header__navegacion--enlace hacerCroll" href="#portafolio">Portafolio</a>
                    <a class="header__navegacion--enlace hacerCroll" href="#sobre-mi">Sobre Mi</a>
                    <a class="header__navegacion--enlace hacerCroll" href="#hobby">Mi Hobby</a>
                    <a class="header__navegacion--enlace hacerCroll" href="#contacto">Contacto</a>
                    {% if session %}
                    <a class="header__navegacion--enlace" href="/logout">Cerrar Session</a>
                    {% endif %}
                </nav>

                <div class="header__mobile">
                    <i class="fas fa-bars" ></i>
                </div>            
            </div>
        </div>

        {% include 'layout/barras/barra-mobile.html' %}

    </header>
    {% include 'layout/barras/barra-portafolio.html' %}
    {% include 'layout/barras/barra-sobre-mi.html' %}
    {% include 'layout/barras/barra-hobby.html' %}
    {% include 'layout/barras/barra-contacto.html' %}

    <!-- HEADER -->
