<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="build/css/app.css"> -->

    <title>Saintima Stanley Richard</title>
</head>
<body>

    <!-- HEADER -->
    <header class="header">
        <div class="contenedor header__contenido--header">
            <h1 class="header__titulo">Saintima Stanley Richard</h1>
            <h1 class="header__titulo2">Stanley Richard</h1>
            
            <!-- Iconos del menú móvil -->
            
            <nav class="header__navegacion--principal" id="nav">
                <a class="header__navegacion--enlace" href="#inicio">Inicio</a>
                <a class="header__navegacion--enlace" href="pages/portafolio.html">Portafolio</a>
                <a class="header__navegacion--enlace" href="pages/blog.html">Blog</a>
                <a class="header__navegacion--enlace" href="#contacto">Contacto</a>
            </nav>
            
        </div>
    </header>
 
        
    <!-- HEADER -->


    <!-- INICIO -->
    <section id="inicio" class="imagen">
        <div class="overlay">
            <div class="contenido-imagen">
                <picture>
                    <source srcset="../build/img/captura.avif" type="image/avif" alt="Imagen PF">
                    <source srcset="../build/img/captura.webp" type="image/webp" alt="Imagen PF">
                    <img loading="lazy" width="200" height="300" srcset="../build/img/captura.png" type="image/jpeg" alt="Imagen PF">
                </picture>
                
                <h2>Stanley Richard</h2>
                <p>Soy un Programador</p>
            </div>
        </div>

        <picture>
            <source srcset="build/img/bg.avif" type="image/avif" alt="Imagen BG">
            <source srcset="build/img/bg.webp" type="image/webp" alt="Imagen BG">
            <img loading="lazy" width="200" height="300" srcset="build/img/bg.png" type="image/jpeg" alt="Imagen BG">
        </picture>        
    </section>

    <!-- INICIO -->


    <!-- FOOTER -->
    <footer id="contacto" class="footer">
        <div  class="footer__grid">    
            <nav class="menu-redes"> 
                <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="facebook.com/stanley.saintima.3">
                    <span class="menu-redes__ocultar">Facebook</span>
                </a> 
                <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://twitter.com">
                    <span class="menu-redes__ocultar">Twitter</span>
                </a> 
                <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/@stanleyrichardsaintima6375">
                    <span class="menu-redes__ocultar">YouTube</span>
                </a> 
                <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/stanleyriche1/">
                    <span class="menu-redes__ocultar">Instagram</span>
                </a> 
                <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://tiktok.com">
                    <span class="menu-redes__ocultar">Tiktok</span>
                </a> 
                <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/stanley-richard-saintima-b45433289/">
                    <span class="menu-redes__ocultar">Linkedin</span>
                </a>
                <a class="menu-redes__enlace" rel="noopener noreferrer" target="_blank" href="https://github.com/RichardSaintima">
                    <span class="menu-redes__ocultar">Github</span>
                </a>
            </nav>
        </div>
    
        <p class="footer__copyright">
            Stanley Richard
            <span class="footer__copyright--regular">
                - Todos los derechos reservados <span id="current-year"></span>&copy;
            </span>
        </p>
    </footer>
    <!-- <script src="/build/js/main.js" defer></script> -->
    
    <!-- FOOTER -->    
</body>
</html>