  
{% extends "base/base.html" %}
{% load static %} 
{%block title%} Nosotros  {%endblock%}

{% block content%}
 
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt esse, doloribus deleniti alias cupiditate reprehenderit velit quo fugiat. Recusandae temporibus doloremque ratione sit inventore magni vitae earum possimus assumenda!</p>

{%endblock%}


<div class="sobreMi__contenido--texto">
    <p class="sobreMi__texto--1">Mi nombre es <span class="sobreMi__texto--nombre">Jorge</span>, tengo 20 años, soy de Chile, y actualmente soy estudiante de Analista Programador Computacional.</p>
    <p class="sobreMi__texto--2">Me gusta mucho la tecnología, y siempre estoy en constante aprendizaje, ya sea de programación, o de cualquier otra cosa.</p>
    <p class="sobreMi__texto--3">También me gusta mucho la música, y siempre estoy escuchando música, ya sea mientras estudio, o mientras estoy haciendo cualquier otra cosa.</p>
    <p><span style="font-weight: bold;">Nombre:</span>&nbsp;<NAME></p>
    <p><span style="font-weight: bold;">Edad:</span>&nbsp;<AGE></p>
    <p><span style="font-weight: bold;">País:</span>&nbsp;<COUNTRY></p>
    <p><span style="font-weight: bold;">Estudios:</span>&nbsp;<STUDIES></p>
    <p><span style="font-weight: bold;">Hobbies:</span>&nbsp;<HOBBIES></p>
    <p><span style="font-weight: bold;">Música:</span>&nbsp;<MUSIC></p>
    <p><span style="font-weight: bold;">Videojuegos:</span>&nbsp;<VIDEOGAMES></p>
    <p><span style="font-weight: bold;">Deportes:</span>&nbsp;<SPORTS></p>
    <p><span style="font-weight: bold;">Comida:</span>&nbsp;<FOOD></p>
    <p><span style="font-weight: bold;">Animales:</span>&nbsp;<ANIMALS></p>
    <p><span style="font-weight: bold;">Color:</span>&nbsp;<COLOR></p>
    <p><span style="font-weight: bold;">Lenguajes:</span>&nbsp;<LANGUAGES></p>
    <p><span style="font-weight: bold;">Frameworks:</span>&nbsp;<FRAMEWORKS></p>
    <p><span style="font-weight: bold;">Librerías:</span>&nbsp;<LIBRARIES></p>
    <p><span style="font-weight: bold;">Sistemas Operativos:</span>&nbsp;<OPERATING_SYSTEMS></p>
    <p><span style="font-weight: bold;">IDE:</span>&nbsp;<IDE></p>
</div>